*{
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 100vh;
    background-image: radial-gradient( circle farthest-corner at 48.7% 44.3%,  rgba(30,144,231,1) 0%, rgba(56,113,209,1) 22.9%,
     rgba(38,76,140,1) 76.7%, rgba(31,63,116,1) 100.2% )!important;
}

@media screen and (max-width: 768px){
    body{
        flex-direction: column;

    }
}
.left-currency{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10% 5%;
    /* box-shadow: 0 5px 20px firebrick; */
    backdrop-filter: blur(10px);
    background-color: rgba(247, 240, 240,.5);
}
@media screen and (max-width:768px){
    .left-currency{
        width: 90%;
    }
}
.left-currency:hover{
    animation: glow-left 1.5s infinite linear;
}
.right-currency{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10% 5%;
    /* box-shadow: 0 5px 20px forestgreen; */
    background-color: rgba(59, 57, 57,.5);
}
@media screen and (max-width:768px){
    .right-currency{
        width: 90%;
    }
}
.right-currency:hover{
    animation: glow-right 1.5s infinite linear;
}
.inputflexbox{
    display: flex;

}
span{
    display: flex;
    justify-content: center;
    align-items:center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}

input{
    width: 80px;
}

/* @keyframes glow-left{
    from{
        box-shadow: 0 5px 20px firebrick;
    }

    25%{
        box-shadow: 0 5px 10px firebrick;
    }

    50%{
        box-shadow: 0 5px 5px firebrick;
    }

    75%{
        box-shadow: 0 5px 10px firebrick;
    }

    to{
        box-shadow: 0 5px 20px firebrick;
    }
}
@keyframes glow-right{
    from{
        box-shadow: 0 5px 20px forestgreen;
    }

    25%{
        box-shadow: 0 5px 10px forestgreen;
    }

    50%{
        box-shadow: 0 5px 5px forestgreen;
    }

    75%{
        box-shadow: 0 5px 10px forestgreen;
    }

    to{
        box-shadow: 0 5px 20px forestgreen;
    }
} */

.divinbetween{
    display: flex;
    flex-direction: column;
    gap: 5%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px){
    .divinbetween{
        height: initial;
    }
}